{% load static %}
<section class="service">
    <h3 class="h3 service-title">What i'm doing</h3>

    <ul class="service-list">
      {% for hobbies in hobby %}
      <li class="service-item">
        <div class="service-icon-box">
          <img
            src="{{ hobbies.hobby_image.url }}"
            alt="design icon"
            width="40"
          />
        </div>

        <div class="service-content-box">
          <h4 class="h4 service-item-title">Web design</h4>

          <p class="service-item-text">
            The most modern and high-quality design made at a professional
            level using Bootstrap.
          </p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>
